package ${table.serviceImplPackageName};

import kunlun.beans.BeanUtils;
import kunlun.util.CollectionUtils;
import kunlun.common.Paging;
import kunlun.util.PagingUtils;
import kunlun.common.Input;
import kunlun.common.PageResult;
import kunlun.common.Result;
import kunlun.exception.VerifyUtils;
import ${table.entityPackageName}.${table.entityClassName};
import ${table.mapperPackageName}.${table.mapperClassName};
import ${table.servicePackageName}.${table.serviceClassName};
import lombok.extern.slf4j.Slf4j;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.ArrayList;
import java.util.List;

import static kunlun.common.Errors.PARAMETER_IS_REQUIRED;

/**
 * ${table.serviceImplClassName}.
 * @author $!{author}
 * @date $!{date}
 */
@Slf4j
@Service
public class ${table.serviceImplClassName} implements ${table.serviceClassName} {

    @Autowired
    private ${table.mapperClassName} ${table.mapperObjectName};

}
